<div class="fondo">
    <div class="absolute w-full h-full top-0 left-0">
        <header class="w-full py-2 px-4 bg-[var(--dark)] flex justify-between items-center">
            <img src="../../assets/img/logo.png" alt="logo" class="w-28">
            <button matButton [matMenuTriggerFor]="beforeMenu"
                class="w-8 h-8 rounded-full select-none bg-[var(--third)] text-black font-bold">{{getIniciales().toUpperCase()}}</button>
            <mat-menu #beforeMenu="matMenu" class="shadow-md" xPosition="before">
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    <span>Ajustes de cuenta</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Cerrar sesión</span>
                </button>
            </mat-menu>
        </header>
    </div>
</div>