.fondo {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.fondo::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../assets/img/new.jpg');
    background-size: cover;
    background-repeat: repeat;
    filter: brightness(0.15);
    z-index: 0;
}
