/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-size: 14px;
}

:root {
    --primary: #3d5a80;
    --secondary: #98c1d9;
    --third: #e0fbfc;
    --neon: #01b7fa;
    --acent: #ee6c4d;
    --light: #eef4f5;
    --gray: #e4e4e4;
    --dark: #232a36;
}

