<div class="fondo relative">
    <div class="w-screen h-screen flex justify-center items-center relative z-10 overflow-hidden">
        <section class="p-4 border-2 rounded-md border-[var(--primary-color)] backdrop-blur-lg">
            <div class="flex flex-col gap-4 items-center justify-center">
                <img src="../../assets/img/logo.png" alt="logo" class="w-40">
                <h1 class="text-2xl font-bold text-center">
                    Iniciar sesión
                </h1>
                <form class="flex flex-col gap-4 items-center justify-center">
                    <input type="text" placeholder="Usuario o correo" class="w-full bg-transparent border-[var(--primary-color)] p-2 border-b-[1px]">
                    <input type="password" placeholder="Password" class="w-full bg-transparent border-[var(--primary-color)] p-2 border-b-[1px]">
                    <button class="w-full p-2 border-2 rounded-md">
                        Iniciar sesión
                    </button>
                </form>
            </div>
        </section>
    </div>
</div>